$font17px: 18px;
$color-red: #FF0000 ;
$bgcolor: #f7f7f7;

body {
    font-family: 'Raleway', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}
p {
    font-size: $font17px;
}

table {
    background-color: white;
    margin: 16px 0 0 0;
}

.table>tbody>tr>td,th {
    padding: 20px 0 20px 8px;
    font-size: $font17px;
}
.align-center {
    text-align: center;
}

.font {
    font-weight: 600;
    font-size: 17px;
}
select {
    padding: 12px;
}
.pagination {
    display: inline-block;
    width: 50%;
  }

  .pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: beige;
    // color: white;
  }

  .pagination a:hover:not(.active) {
      background-color: #ddd;
    }

  .float-right {
    float: right;
    margin: 14px 0 0 0;
    }
.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;

    &__wrapper {
        position: relative;
        height: 100vh;
    }

    &__data {
        position: relative;

        i {
            position: absolute;
            padding: 32px 12px;
        }
    }

    &__input {
        padding: 37px 39px;
        margin: 0 0 -15px 0px;
        font-size: $font17px;
    }

    &__button {
        text-align: right;
        margin: 37px 0 0 0;
    }

    &__padding {
        padding: 11px 23px;
    }

    &__validation {
        color: $color-red;
    }
}

.user-list {
   &__search {
    position: relative;
    text-align: right;
   }

   &__select {
    display: inline-block;
    width: 50%;
   }
   
   &__add {
    display: inline-block;
    width: 50%;
    text-align: left;
    }  

   &__icon {
        position: absolute;
        padding: 16px 10px;
        right: 0;
   }

   &__input {
    padding: 13px 12px;
    border: none;
   }

   &__table {
    background-color: $bgcolor;
    padding: 20px 10px 15px 15px;
    }

    &__display {
        background-color: white;
    }

    &__view {
        width: 100%;
    }

    &__viewby {
        display: inline-block;
        width: 50%;
        text-align: right;
    }

    &__add-task {
        // border: 1px solid black;
        margin: 15px 0 0 0;
    }
}

