<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 userlist__wrapper">
    <div class="user-list-details">
      <h1>Employees <span>[{{this.userList.length}}]</span></h1>
        <div class="user-list__table">
          <div class="user-list__search">
              <i class="fa fa-search user-list__icon"></i>
              <input class="user-list__input" type="text"
                     [(ngModel)]="searchText" 
                     (input) = "searchFromList()"
                     placeholder="Search Employees...">
              
          </div>
          <div class="user-list__display">
            <table class="table">
              <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userList">
                  <td><a [routerLink]="['/user/userlist', user.id, 'todo']" 
                    (click)="taskList(user.id)">{{user.name}}</a></td>
                  <td>{{user.phone}}</td>
                  <td>{{user.email}}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="this.userList.length >= 1" class="user-list__view">
              <div class="pagination">
                <a [routerLink]="['/user/userlist']">&laquo;</a>
                <a class="active" [routerLink]="['/user/userlist']">1</a>
                <a [routerLink]="['/user/userlist']">2</a>
                <a [routerLink]="['/user/userlist']">&raquo;</a>
              </div>
              <div class="user-list__viewby">
                <label class="font">View By</label>
                <select>
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                </select>
              </div>
            </div>
          </div>
          <div class="font align-center"
              *ngIf="this.userList.length == 0">
                No user found!
          </div>
        </div>
          
    </div>
  </div>